.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgb(99, 119, 156);
  color: white;
}

.nav-links {
  color: rgb(255, 255, 255);
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
 
}


