.all-content{
  position: fixed;
  left: 0;
  right: 0;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 300px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#app_title{
  font-size: 23px;
  text-align: center;
}

#intro {
  padding-top: 20px;
  font-size: 23px;
  text-align: left;
}

.features{
  font-size:23px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: left;
}

.about-container {
  height : 800px;
  padding-top: 0;
}

.footer-image img{
  height: 10em;
  width: 10em;
}

.footer-image{
  padding-top: 600px;
  padding-left: 200px;
  /* display:flex;
  justify-content:flex-end;
  align-items:baseline; */
  padding-left: 400px;
  max-width: 90%;
  height: 200px;
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 50px;
  filter: blur(1px);
  -webkit-filter: blur(1px);

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}