#title {
  text-align: center;
  font-family: arial, sans-serif;
  border:3px;
  border-style:solid; 
  /* border-color:rgb(123, 175, 192); */
  border-color: #0f2f35b6;
}
.container {
  padding-left: 240px;
  padding-right: 20px;
  padding-top: 50px;
}
#title {
  margin-left: 50px;
}
#contacts {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
  margin-left: 30px;
  
}

#contacts td, #contacts th {
  border: 1px solid #ddd;
  padding: 8px;
}

#contacts tr:nth-child(even){background-color: #f2f2f2;}

#contacts tr:hover {background-color: #ddd;}

#contacts th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #a2bcc7;
  color: white;
}