
.list-container{
  display: flex;
  justify-content: space-evenly;
  margin-left: 100px; 
}



.list-input {
  width: 600px;
  
}

#list-table{
  width: 600px;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
 
#list-table tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
#list-table tbody td {
  position: relative;
}
#list-table tbody td:hover:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -1;
}  




