.meal {
  padding-left: 350px;
  display: grid;
  grid-template-columns: repeat(5, 1.25fr);
  gap: 5px;
  max-width: 1.25fr;
  align-items: flex-end;
}


/* Style the counter cards */
 #meal {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 20px;
  text-align: center;
  background-color: #eff1f5;
  max-width: 260px;
}

img {
  max-width: 80%;
  display: inline;
  object-fit: cover;
}

.meal_title {
  grid-column: 2 / 5;
  grid-row: 1;
}

.top_meals {
  grid-row: 1;
  /* margin-top: 200px !important; */
  padding-left: 20px;
}

.day_container {
  padding-top: 20px;
  grid-row: 2;
}

#day {
  text-align: left;
  padding-left: 10px;
  font-size: 15px;
}

.newMeal {
  padding-left : 300px;
  padding-top: 20px;
}