/* *,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */

/* body {
  font-family: "Quicksand", sans-serif;
  display: grid;
  place-items: center;
  height: 100vh;
  background: #7f7fd5;
  background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
} */
h3 {
  padding-top: 40px;
}

#all-recipes {
  padding-left: 250px;
}

#recipe_title {
  padding-left: 10px;
}

#recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  gap: 2rem;
  margin-left: 130px;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
  height: auto;
}

.card {
  
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  padding: 1px;
  text-align: center;
  background-color: #eff1f5;
  max-width: 350px;
  
}

#card_contents {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: flex-start;
  text-align: left;
  padding-left: 30px;
  
}


/* .tag {
  justify-content: flex-start;
  padding: 0.25em 0.75em;
  border-radius: 1em;
  font-size: .75rem;
  font-size: 18px;
}

.tag + .tag {
  margin-left: 0.5em;
} */

.label {
  font-size : 17px;
}


/* .tag-blue {
  background: #56ccf2;
  background: linear-gradient(to bottom, #2f80ed, #56ccf2);
  color: #fafafa;
} */

/* .tag-brown {
  background: #d1913c;
  background: linear-gradient(to bottom, #ffd194, #d1913c);
  color: #fafafa;
}

.tag-green {
  background: #2dcb7c;
  background: linear-gradient(to bottom, #b2e4b8, #95db95);
  color: #ffffff;
  font-size: 15px;
}

.tag-red {
  background: #cb942d;
  background: linear-gradient(to bottom, #eeb8b6c7, #eea284);
  color: #ffffff;
  font-size: 15px;
}

.tag-teal {
  background: #cb942d;
  background: linear-gradient(to bottom, #9dcff1c7, #7cbaec);
  color: #ffffff;
  font-size: 15px;
} */

.card__body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

#card__footer {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  margin-top: auto;
}

.newRecipe {
  padding-left: 250px;
  padding-top: 20px;
}
