/* @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap"); */

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* body {
  font-family: "Quicksand", sans-serif;
  display: grid;
  place-items: center;
  height: 100vh;
  background: #7f7fd5;
  background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
} */
h3 {
  padding-top: 40px;
}

 #recipes{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin-block: 4rem;
  gap: 2rem;
  margin-left: 50px;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
  height: auto;
}

.card {
  display: flex;
  flex-direction: column;
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  /* width: 800px;
  height: 800px; */
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #ECE9E6;
  /* background: linear-gradient(to right, #FFFFFF, #ECE9E6); */
}



.card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}


.tag {
  justify-content: flex-start;
  padding: .25em .75em;
  border-radius: 1em;
  /* font-size: .75rem; */
  font-size: 18px;
}

.tag + .tag {
  margin-left: .5em;
}

.tag-blue {
  background: #56CCF2;
background: linear-gradient(to bottom, #2F80ED, #56CCF2);
  color: #fafafa;
}

.tag-brown {
  background: #D1913C;
background: linear-gradient(to bottom, #FFD194, #D1913C);
  color: #fafafa;
}

.tag-green {
  background: #2dcb7c;
background: linear-gradient(to bottom, #b2e4b8, #6be76b);
  color: #fafafa;
  font-size: 15px;
}

.tag-orange {
  background: #cb942d;
background: linear-gradient(to bottom, #f3cc98c7, #f5c659);
  color: #fafafa;
  font-size: 15px;
}

.card__body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

#card__footer {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  margin-top: auto;
}

.newRecipe {
  display: flex;
  justify-content: center;
}
/* .user {
  display: flex;
  gap: .5rem;
}

.user__image {
  border-radius: 50%;
}

.user__info > small {
  color: #666;
} */